{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IW Reto 3</title>
<!--<link rel="stylesheet" href="{% static 'css/estilos.css' %}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>GESTION DE PROYECTOS</h1>
        <h2>{{ titulo_pagina }}</h2>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'proyecto_list' %}">Proyectos</a></li>
            <li><a href="{% url 'tarea_list' %}">Tareas</a></li>
            <li><a href="{% url 'empleado_list' %}">Empleados</a></li>
        </ul>
    </nav>
    <main>
    {% block contenido %} {% endblock %}
    </main>
</body>

</html>
