{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/empleado.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Detalles del empleado</h1>
        </div>
    </header>
{% endblock %}

{% block main %}
<section id="principal">
    <article id="tarjeta_alta">
        <div id="tarjeta_up">
            <h3 id="titulo_tarjeta">CRProjects</h3>
            <a href="{% url 'empleado_update' empleado.id %}"><img id="editar" src="{% static 'img/edit.PNG' %}" alt="editar"></a>
        </div>
        <div id="tarjeta_down">
            <div id="tarjeta_down_titulo">
                <img src="{% static 'img/logo.png' %}" alt="empresa">
                <h3>Empleado:<p>{{ empleado.nombre }} {{ empleado.apellidos }}</p></h3>
            </div>
            <div id="izquierda">
                <h4>Datos de contacto:</h4>
                <br>
                <h6>Email:</h6>
                <ul class="participantes">
                    <li>{{ empleado.email }}</li>
                </ul>
                <h6>Teléfono:</h6>
                <ul class="participantes">
                    <li>{{ empleado.telefono }}</li>
                </ul>
            </div>
            <div id="derecha">
                <div id="derecha_nombre">
                    <p id="derecha_p1"></p>
                    <p id="derecha_p2">DNI: {{ empleado.dni }}</p>
                    <br>
                </div>
                <div style="padding-left: 200px">
                    <h4>Foto de perfil</h4>
                    {% if empleado.imagen %}
                        <td><img src="{{ empleado.imagen.url }}" width="240"> </td>
                    {% else %}
                        <td><img src="{% static 'img/SinFotoPerfil.jpg' %}" width="240"> </td>
                    {% endif %}

                </div>
            </div>
            <div id="next">
                <td><a class="btn btn-danger" href="{% url 'empleado_delete' empleado.id %}">Eliminar proyecto</a></td>
            </div>
        </div>
    </article>
</section>
<div id="boton_atras">
    <a class="btn btn-dark" href="javascript: history.go(-1)">Atras</a>
</div>
<br>
{% endblock %}

