{% extends 'index.html' %}
{% load static %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Eliminar empleado</h1>
        </div>
    </header>
{% endblock %}

{% block main %}
<br>
<form method="post" class="list-group-horizontal">
    {% csrf_token %}
    <p class="text-danger">¿Estas seguro de eliminar al empleado {{ empleado.nombre }} {{ empleado.apellidos }}?</p>
    <div class="form-group">
        <div class="col-sm-2 col-sm-8">
            <input class="btn btn-danger" type="submit" value="Eliminar">
        </div>
    </div>

</form>
{% endblock %}
