{% extends 'base.html' %}

{% block contenido %}
<table>
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleado_list %}
        <tr>
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td><a href="{% url 'empleado' empleado.id %}">Detalles</a> </td>
            <td><a href="{% url 'empleado_update' empleado.id %}">Editar</a> </td>
            <td><a href="{% url 'empleado_delete' empleado.id %}">Eliminar</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'empleado_form' %}">Nuevo empleado</a>
{% endblock %}
