{% extends "index.html" %}
{% load static %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="{% static 'img/avataaars.svg' %}" alt="" /><!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Gestor de proyectos</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Gestiona tus proyectos, gestiona tu vida.</p>
        </div>
    </header>
{% endblock %}

{% block main %}

    {% for pro in listado_proyectos %}
        <li>
            {{ pro.id }}: {{ pro.nombre }} (<a href="{% url 'proyecto' pro.id %}">Ver</a>)
        </li>
    {% endfor %}

{% endblock %}
