{% extends 'index.html' %}

{% load static %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Detalles del proyecto {{ proyecto.nombre }}</h1>
        </div>
    </header>
{% endblock %}

{% block main %}

<table class="table">
    <tr>
        <td>ID</td>
        <td>{{ proyecto.id }}</td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td>{{ proyecto.nombre }}</td>
    </tr>

    <tr>
        <td>Descripción</td>
        <td>{{ proyecto.descripcion }}</td>
    </tr>

    <tr>
        <td>Fecha de inicio</td>
        <td>{{ proyecto.fecha_inicio }}</td>
    </tr>

    <tr>
        <td>Fecha de finalización</td>
        <td>{{ proyecto.fecha_fin }}</td>
    </tr>

    <tr>
        <td>Presupuesto</td>
        <td>{{ proyecto.presupuesto }}</td>
    </tr>

    <tr>
        <td>Nombre del cliente</td>
        <td>{{ proyecto.nombre_cliente }}</td>
    </tr>

    <tr>
        <td>Apellidos del cliente</td>
        <td>{{ proyecto.apellidos_cliente }}</td>
    </tr>

    <tr>
        <td>Email del cliente</td>
        <td>{{ proyecto.email_cliente }}</td>
    </tr>

    <tr>
        <td>Teléfono del cliente</td>
        <td>{{ proyecto.telefono_cliente }}</td>
    </tr>

    <table class="table">
        <thead>
            <tr>
                <th>Tarea</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>{% for tarea in object.tarea.all %}
                        <li><a href="{% url 'tarea' tarea.id %}">{{ tarea.nombre }}{% endfor %}</a></li>
                    </ul>
                </td>
                <td>
                    <ul>{% for tarea in object.tarea.all %}
                        <li>{{ tarea.responsable }}{% endfor %}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</table>

<a class="btn btn-dark" href="javascript: history.go(-1)">Atras</a>

<br>

{% endblock %}

