{% extends 'base.html' %}

{% block contenido %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyecto_list %}
        <tr>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.fecha_inicio }}</td>
            <td>{{ proyecto.fecha_fin }}</td>
            <td><a href="{% url 'proyecto' proyecto.id %}">Detalles</a> </td>
            <td><a href="{% url 'proyecto_update' proyecto.id %}">Editar</a> </td>
            <td><a href="{% url 'proyecto_delete' proyecto.id %}">Eliminar</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'proyecto_form' %}">Nuevo proyecto</a>
{% endblock %}

