{% extends 'index.html' %}

{% load static %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Nuevo proyecto</h1>
        </div>
    </header>
{% endblock %}

{% block main %}

<br>
<form method="post" class="list-group-horizontal">
    {% csrf_token %}

    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.nombre.label }}</label>
        <div class="col-sm-8">
            {{ form.nombre }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.descripcion.label }}</label>
        <div class="col-sm-8">
            {{ form.descripcion }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.fecha_inicio.label }}</label>
        <div class="col-sm-8">
            {{ form.fecha_inicio }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.fecha_fin.label }}</label>
        <div class="col-sm-8">
            {{ form.fecha_fin }}
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.presupuesto.label }}</label>
        <div class="col-sm-8">
            {{ form.presupuesto }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.nombre_cliente.label }}</label>
        <div class="col-sm-8">
            {{ form.nombre_cliente }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.apellidos_cliente.label }}</label>
        <div class="col-sm-8">
            {{ form.apellidos_cliente }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.email_cliente.label }}</label>
        <div class="col-sm-8">
            {{ form.email_cliente }}
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.telefono_cliente.label }}</label>
        <div class="col-sm-8">
            {{ form.telefono_cliente }}
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.tarea.label }}</label>
        <div class="col-sm-8">
            {{ form.tarea }}
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.responsable.label }}</label>
        <div class="col-sm-8">
            {{ form.responsable }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <a class="btn btn-dark" href="{% url 'proyecto_list' %}">Atras</a>
            <input class="btn btn-primary pull-right" type="submit" name="submit" value="Nuevo proyecto">
        </div>

    </div>

</form>

{% endblock %}
