{% extends 'index.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/tarea_form.css' %}">
{% endblock %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Nueva tarea</h1>
    </div>
</header>
{% endblock %}

{% block main %}
<main>
    <section id="pfbody">
        <form method="post" class="register">
            {% csrf_token %}
            <fieldset class="row1">
                <legend>Detalles de la tarea</legend>
                <p class="pfp">
                    <label>Nombre</label>
                    <input class="form-control" type="text" name="nombre">
                </p>
                <p class="pfp">
                    <label>Descripción
                    </label>
                    <input class="form-control" type="text" name="descripcion">
                </p>
            </fieldset>
            <fieldset class="row2">
                <legend>Tarea</legend>
                <p class="pfp">
                    <label>Responsable</label>
                    <input class="form-control" type="text" name="responsable">
                </p>
                <p class="pfp">
                    <label>Nivel de prioridad</label>
                    <br>
                    <input class="form-control" type="text" name="nivel_prioridad">
                </p>
                <p class="pfp">
                    <label>Estado de la tarea</label>
                    <br>
                    <input class="form-control" type="text" name="estado_tarea">
                </p>
            </fieldset>
            <fieldset class="row3">
                <legend>Más información</legend>
                <p class="pfp">
                    <label>Fecha inicio</label>
                    <input class="form-control" type="date" name="fecha_inicio">
                </p>
                <p class="pfp">
                    <label>Fecha final</label>
                    <input class="form-control" type="date" name="fecha_fin">
                </p>
                <p class="pfp">
                    <label>Notas</label>
                    <input class="form-control" type="text" name="notas">
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </fieldset>
            <div>
                <input class="button" id="btn_enviar" type="submit" name="submit" value="Nueva tarea">
            </div>
        </form>
    </section>
    <div id="boton_atras">
        <a class="btn btn-dark" href="javascript: history.go(-1)">Atras</a>
    </div>
</main>
<script src="{% static 'js/tarea_form.js' %}"></script>
{% endblock %}
