{% extends 'index.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'css/list.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Lista de tareas</h1>
    </div>
</header>
{% endblock %}

{% block main %}
<main>
    <div id="botnnew">
        <a style="font-weight: bold; text-transform: uppercase;" class="btn btn-warning bti" href="{% url 'tarea_form' %}">Nueva tarea</a>
    </div>
    <div class="table-users">
        <div class="header">Tareas</div>

        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de entrega</th>
                    <th>Estado de la tarea</th>
                    <th>Más acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tarea_list %}
                <tr>
                    <td>{{ tarea.nombre }}</td>
                    <td>{{ tarea.fecha_inicio }}</td>
                    <td>{{ tarea.fecha_fin }}</td>
                    <td>{{ tarea.estado_tarea }}</td>
                    <td style="text-align: center;"><a class="btn btn-warning" href="{% url 'tarea' tarea.id %}">Mostrar más</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td>Aún no existe ninguna tarea</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
