{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/tarea.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Detalles de la tarea</h1>
        </div>
    </header>
{% endblock %}

{% block main %}
<section id="principal">
    <article id="tarjeta_alta">
        <div id="tarjeta_up">
            <h3 id="titulo_tarjeta">CRProjects</h3>
            <a href="{% url 'tarea_update' tarea.id %}"><img id="editar" src="{% static 'img/edit.PNG' %}" alt="editar"></a>
        </div>
        <div id="tarjeta_down">
            <div id="tarjeta_down_titulo">
                <img src="{% static 'img/logo.png' %}" alt="empresa">
                <h3>{{ tarea.nombre }}</h3>
            </div>
            <div id="izquierda">
                <h4>Tareas:</h4>
                <ul id="participantes">
                    <li><a class="subrayado">{{ tarea.responsable }}</a></li>
                </ul>
                <p class="presupuesto">Prioridad: {{ tarea.nivel_prioridad }}</p>
            </div>
            <div id="derecha">
                <div id="derecha_nombre">
                    <p id="derecha_p1">Responsable del proyecto: {{ tarea.responsable }}</p>
                </div>
                <div id="derecha_fechas">
                    <p class="fechas">Fecha de inicio: {{ tarea.fecha_inicio }}</p>
                    <p class="fechas">Fecha de cierre: {{ tarea.fecha_fin }}</p>
                </div>
                <div id="derecha_descripcion">
                    <h4>Descripción:</h4>
                    <p>{{ tarea.descripcion }}</p>
                </div>
            </div>
            <div id="next">
                <td><a class="btn btn-danger" href="{% url 'tarea_delete' tarea.id %}">Eliminar proyecto</a></td>
            </div>
        </div>
    </article>
</section>
<div id="boton_atras">
    <a class="btn btn-dark" href="javascript: history.go(-1)">Atras</a>
</div>
{% endblock %}
